/* colors.css */
@layer base {
  :root {
    --color-primary: 21 117 251;
    --color-primary-2: 61 140 252;
    --color-primary-3: 119 175 253;
    --color-primary-4: 159 198 253;
    --color-primary-5: 232 241 255;
    --color-primary-6: 15 82 176;

    --color-secondary: 255 196 69;
    --color-secondary-2: 255 206 101;
    --color-secondary-3: 255 221 147;
    --color-secondary-4: 255 231 179;
    --color-secondary-5: 255 243 216;
    --color-secondary-6: 255 175 0;

    --color-gray-1: 27 29 31;
    --color-gray-2: 38 40 43;
    --color-gray-3: 69 76 83;
    --color-gray-4: 114 120 127;
    --color-gray-5: 158 164 170;
    --color-gray-6: 201 205 210;
    --color-gray-7: 232 235 237;
    --color-gray-75: 242 244 246;
    --color-gray-8: 247 248 249;
    --color-gray-9: 253 253 254;

    --color-green: 31 115 16;
    --color-green-2: 65 198 42;
    --color-green-bg: 242 253 240;

    --color-red: 170 28 20;
    --color-red-2: 241 63 53;
    --color-red-bg: 255 236 236;
  }
}

@layer components {
  /* text colors */
  .text-primary { @apply text-[rgb(var(--color-primary))]; }
  .text-primary-2 { @apply text-[rgb(var(--color-primary-2))]; }
  .text-primary-3 { @apply text-[rgb(var(--color-primary-3))]; }
  .text-primary-4 { @apply text-[rgb(var(--color-primary-4))]; }
  .text-primary-5 { @apply text-[rgb(var(--color-primary-5))]; }
  .text-primary-6 { @apply text-[rgb(var(--color-primary-6))]; }

  .text-secondary { @apply text-[rgb(var(--color-secondary))]; }
  .text-secondary-2 { @apply text-[rgb(var(--color-secondary-2))]; }
  .text-secondary-3 { @apply text-[rgb(var(--color-secondary-3))]; }

  .text-gray-1 { @apply text-[rgb(var(--color-gray-1))]; }
  .text-gray-2 { @apply text-[rgb(var(--color-gray-2))]; }
  .text-gray-3 { @apply text-[rgb(var(--color-gray-3))]; }
  .text-gray-4 { @apply text-[rgb(var(--color-gray-4))]; }
  .text-gray-5 { @apply text-[rgb(var(--color-gray-5))]; }
  .text-gray-6 { @apply text-[rgb(var(--color-gray-6))]; }
  .text-gray-7 { @apply text-[rgb(var(--color-gray-7))]; }
  .text-gray-75 { @apply text-[rgb(var(--color-gray-75))]; }
  .text-gray-8 { @apply text-[rgb(var(--color-gray-8))]; }
  .text-gray-9 { @apply text-[rgb(var(--color-gray-9))]; }

  .text-green { @apply text-[rgb(var(--color-green))]; }
  .text-red { @apply text-[rgb(var(--color-red))]; }

  /* background colors */
  .bg-primary { @apply bg-[rgb(var(--color-primary))]; }
  .bg-primary-5 { @apply bg-[rgb(var(--color-primary-5))]; }

  .bg-secondary { @apply bg-[rgb(var(--color-secondary))]; }

  .bg-gray-75 { @apply bg-[rgb(var(--color-gray-75))]; }
  .bg-gray-8 { @apply bg-[rgb(var(--color-gray-8))]; }
  .bg-gray-9 { @apply bg-[rgb(var(--color-gray-9))]; }

  .bg-green { @apply bg-[rgb(var(--color-green-bg))]; }
  .bg-red { @apply bg-[rgb(var(--color-red-bg))]; }
}
